div[class^=t_ico_]{
	background-image: url("./catsprites.png");
}
div.t_ico_401{
	background-position: 0 0;
}
div.t_ico_402{
	background-position: -60px 0;
}
div.t_ico_405{
	background-position: 0 -56px;
}
div.t_ico_404{
	background-position: -60px -56px;
}
div.t_ico_403{
	background-position: 0 -112px;
}
div.t_ico_407{
	background-position: -60px -112px;
}
div.t_ico_406{
	background-position: 0 -168px;
}
div.t_ico_413{
	background-position: -60px -168px;
}
div.t_ico_410{
	background-position: 0 -224px;
}
div.t_ico_411{
	background-position: -60px -224px;
}
div.t_ico_409{
	background-position: 0 -280px;
}
