
a.user_link{
	text-decoration: none;
	font-weight: bold;
}

.UC_0,.UC_0:hover,.UC_0:visited{
	color: #708090;
} /* Peasant */

.UC_1,.UC_1:hover,.UC_1:visited{
	color: #000000;
} /* User */

.UC_2,.UC_2:hover,.UC_2:visited{
	color: #DAA520;
} /* Power User */

.UC_3,.UC_3:hover,.UC_3:visited{
	color: #008B8B;
} /* Elite User */

.UC_4,.UC_4:hover,.UC_4:visited{
	color: #00BFFF;
} /* Crazy User */

.UC_5,.UC_5:hover,.UC_5:visited{
	color: #8B008B;
} /* Insane User */

.UC_6,.UC_6:hover,.UC_6:visited{
	color: #4D3B8D;
} /* Veteran User */

.UC_7,.UC_7:hover,.UC_7:visited{
	color: #FF9C00;
} /* Extreme User */

.UC_8,.UC_8:hover,.UC_8:visited{
	color: #006400;
} /* Ultimate User */

.UC_9,.UC_9:hover,.UC_9:visited{
	color: #38ACEC;
} /* Nexus Master */

.UC_40,.UC_40:hover,.UC_40:visited{
	color: #009F00;
} /* VIP */

.UC_41,.UC_41:hover,.UC_41:visited{
	color: #009F00;
} /* Ambassador */

.UC_51,.UC_51:hover,.UC_51:visited{
	color: #FF8888;
} /* Active */

.UC_60,.UC_60:hover,.UC_60:visited{
	color: #FF66FF;
} /* retiree */

.UC_61,.UC_61:hover,.UC_61:visited{
	color: #99CC00;
} /* Coder */

.UC_101,.UC_101:hover,.UC_101:visited{
	color: #1CC6D5;
} /* Forum Moderator */

.UC_102,.UC_102:hover,.UC_102:visited{
	color: #0099FF;
} /* Maker */

.UC_160,.UC_160:hover,.UC_160:visited{
	color: #0099FF;
} /* Welfarist */

.UC_171,.UC_171:hover,.UC_171:visited{
	color: #DC143C;
} /* Uploader */

.UC_173,.UC_173:hover,.UC_173:visited{
	color: #0099FF;
} /* Moderator */

.UC_180,.UC_180:hover,.UC_180:visited{
	color: #4B0082;
} /* Administrator */

.UC_190,.UC_190:hover,.UC_190:visited{
	color: #A0522D;
} /* System Operator */

.UC_198,.UC_198:hover,.UC_198:visited{
	color: #8B0000;
} /* Staff leader */
