/* 2015-03-31 create */
/* edited by zunsthy */


div.calendar{
	height: 32px;
}

div.date,div.for_mod{
	display: inline-block;
}

div.date,div.date>div{
	position: absolute;
	display: inline-block;
	height: 32px;
	margin: 0;
	padding: 0;
}

div.date{
	position: relative;
	width: 300px;
	margin-right: 20px;
}

div.date_previous,div.date_next{
	cursor: pointer;
	float: left;
	background-color: #E5E5E5;
	opacity: 0.7;
	/* z-index: 2; */
}

div.date_previous{
	left: 0;
	width: 120px;
}

div.date_next{
	left: 180px;
	width: 120px;
}

div.date_bar{
	left: 0;
	width: 300px;
	color: #222;
	font-family: sans-serif;
	font-size: 16px;
	overflow: hidden;
	/* z-index: 1; */
}

div.date_bar>span{
	float: left;
	width: 60px;
	margin-top: 7px;
	text-align: center;
}

div.for_mod{
	position: absolute;
	display: inline-block;
	/* height: 32px; */
	top: 0;
	/* left: 300px; */
	color: #222;
	text-align: center;
}

div#date_enter{
	left: 0;
	width: 165px;
	margin-top: 7px;
	margin-right: 5px;
	text-align: left;
	overflow: hidden;
}

div#create_new,div#update_cur{
	width: 40px;
	margin-top: 4px;
	padding: 3px;
	border: 1px solid #DDD;
	background-color: #EEE;
	text-align: center;
	cursor: pointer;
}

div#create_new{
	left: 170px;
}

div#update_cur{
	left: 220px;
} 

div.main-wrapper{
	margin: 10px 0;
	width: 100%;
}

.list{

}

div.list{

}

div#list{
	padding-top: 10px;
}

ul.list{
	background-color: #FFF;
	border-width: 1px 1px medium;
	border-style: solid solid none;
	border-radius: 5px;
	border-color: #EEE;
	overflow: hidden;
}

li.list{
	display: block;
	position: relative;
	border-bottom: 1px solid #EEE;
	overflow: hidden;
	min-height: 110px;
	background-color: none repeat scroll 0% 0% #FFF;
}

div.side_l{
	background-color: #FAFAFA;
	width: 54px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	border-right: 1px solid #E4E4E4;
	text-align: center;
}

div.side_r{
	margin-left: 54px;
	padding: 10px 0 0 30px;
	position: relative;
	height: 100%;
}

p,span{
	margin: 0;
	padding: 0;
}

p.ico_yd,p.text{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	width: 100%;
}

div.side_r>div{
	float: left;
	margin: 1px 20px 20px 0;
	position: relative;
}

div.items{
	cursor: pointer;
	width: 255px;
	height: 78px;
}

div.items:hover{
	background-color: #F2E945;
}

div.cover{
	display: inline-block;
	border: 1px solid #E4E4E4;
	padding: 6px;
}

div.cover{
}

div.cover>div{
	overflow: hidden;
	width: 64px;
	height: 64px;
}

div.cover>div>img{
	height: 64px;
	/* width: 64px; */
}

div.title{
	/* position: absolute; */
	display: inline-block;
	/* height: 70px; */
	width: 170px;
	margin: 0px 0 0 5px;
	line-height: 32px;
	text-align: left;
	overflow: hidden;
}

div.title>p{
	white-space: nowrap;
	word-wrap: normal;
	word-break: keep-all;
	overflow: hidden;
}
/*
div.title>p:nth-of-type(2){
	width: 50%;
}
*/
div.mod{
	text-align: right;
	margin: -28px 0 0 0;
}

span.mod{
	font-size: 14px;
	color: #AAA;
	margin-right: 5px;
	padding: 0;
	width: 33%;
	cursor: pointer;
}

div.main-bottom{
	display: block;
	position: relative;
	width: 100%;
	text-align: left;
	color: #444;
}

div#edit.for_mod{
	position: relative;
	width: 100%;
	text-align: left;
}

div#edit.for_mod>div{
	border: 1px dotted #CCC;
	border-collapse: collapse;
}
/*
div#edit.for_mod>div>div{
	height: 24px;
	width: 280px;
}

div#edit.for_mod>div>div:nth-of-type(2n+1){
	color: #222;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
}

div#edit.for_mod>div>div:nth-of-type(2n){
	width: 56px;
	text-align: left;
}
*/
div#edit.for_mod>div>div,div#edit.for_mod>div>input{
	height: 24px;
}

div#edit.for_mod>div>div{
	width: 56px;
	text-align: left;
	display: inline-block;
}

div#edit.for_mod>div>input{
	width: 500px;
	color: #222;
	font-weight: 700;
	box-shadow: none;
	border: none;
	text-align: right;
	margin-right: 10px;
}

div#mod_submit{
	height: 30px;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
}

div#mod_submit:hover{
	background-color: #87DE6C;
}

span.note{
	color: #777;
}

